.boxlogin{
    width: 360px;
    height: 800px;
   border: 2px solid black;


}



.bannerloginwelcomeback{
    width: 194px;
    height: 72px;
    left: 82px;
    top: 119px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;


}